html{
  background: #000;
}

.nine{
  margin-top: -70px; 
  display: flex;
  justify-content: center;
} 

.back{
  background: #000;
  height: 1600px; 
  padding: 30px;
}

.back a:link{
  transition: all 0.3s ease;
}

.back a:hover{
  color: #ff9536;
  transition: all 0.3s ease;
}

h1{
  font-family: 'Nova Square';  
  color: #ff9536;
  font-size: 55px;
  text-align: center;
} 

h2{
  font-family: 'Nova Square';
  color: #ff9536;
  font-size: 120px;
  text-align: left;
  margin: 220px 0px 0px 220px;
}

h3{
  font-family: 'Nova Square';
  color: #ff9536;
  font-size: 25px;
  text-align: center;
  margin-left: 0px;
}

.article{
  display: flex;
  justify-content: flex-start;
  height: 400px;
  margin-top: 150px; 
}


.img1{
  width: 400px;
  height: 400px;
  margin-left: 0px;
}

.img2{
  width: 400px;
  height: 400px;
  margin-left: -100px;
}

.img3{
  width: 400px;
  height: 400px;
  margin-left: 100px;
}

.footer{
  display: flex;
  justify-content: flex-start;
  height: 315px;
  border-left: solid 3px #FFF;
  margin-left: 230px;
  margin-top: 220px;
}

.list{
  margin-left: 50px;
  color: #FFF; 
}

.l2{
  color: #ff9536;  
  font-family: 'Nova Square';  
  font-size: 70px;
  line-height: 80px;
}

.l1, .l3, .l4{
  font-family: 'Nova Square';  
  font-size: 70px;
  line-height: 80px;
}

.curent{
  color: #ff9536;
  font-family: 'Nova Square';
  margin-left: 0px;
  font-size: 70px;
}

.email{
  height: 315px;
  width: 400px;
  margin-left: 480px;
}

.news{
  font-family: 'Nova Square';
  color: #ff9536;
  font-size: 30px;
  text-align: left;
  margin-top: 10px;
}

.obwod{
  height: 50px;
  width: 300px;
  border: solid #FFF;
  padding: 10px;
  margin-top: 40px;
}

.adress{
  font-family: 'Nova Square';
  margin-top: 15px;
  color: #fff;
  font-size: 20px;
}

.obwod2{
  height: 90px;
  width: 300px;
  border-top: solid #FFF;
  padding: 10px;
  margin-top: 40px;

}

.follow{
  font-family: 'Nova Square';
  margin-top: 5px;
  color: #ff9536;
  font-size: 40px;
}

.links{
  height: 100px;
  width: 170px;
  border-bottom: solid #FFF;
  margin-left: 140px;
  margin-top: -110px;
}

.all{
  margin: 0px -80px 0px -80px;
}

.imgContent1{
  width: 400px;
  height: 400px;
  margin-left: 100px;
  padding-top: 150px;
}

.imgContent2{
  width: 400px;
  height: 400px;
  padding-top: 150px;
}

.imgContent3{
  width: 400px;
  height: 400px;
  margin-left: 100px;
  padding-top: 150px;
}

.ps{
  display: flex;
  justify-content: flex-start;    
  margin-left: 180px;
}

.title{
  font-family: 'Nova Square';
  color: #ff9536;
  font-size: 12px;
  text-align: left;
  cursor: pointer;
}

.title:hover{
  color: #FFF;
  transition: all 0.3s ease;
}

.palka{
  font-family: 'Nova Square';
  color: #ff9536;
  font-size: 12px;
  margin: 0px 5px 0px 5px;
}

.niz{
  font-family: 'Nova Square';
  color: #ff9536;
  font-size: 12px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: -50px;  
  margin-left: 180px;
}

#arrow{ 
  position: absolute;
  font-family: 'Nova Square';
  font-size:40px; 
  color:#ff9536; 
  margin-left: 260px;
  margin-top: -45px;
  cursor: pointer;
}

#arrow:hover{
  transition: all 0.3s ease;
  color: #fff;
}